{% extends 'base/base-details-page.html' %}


{% block logic %}
<div class="mb-3 p-3 bg-white rounded-4">
    <strong>Make:</strong>
    <p class="mb-0 mt-1">{{ vehicle.make|upper }}</p>
</div>
<div class="mb-3 p-3 bg-white rounded-4">
    <strong>Model:</strong>
    <p class="mb-0 mt-1">{{ vehicle.model }}</p>
</div>
<div class="mb-3 p-3 bg-white rounded-4">
    <strong>Registration number:</strong>
    <p class="mb-0 mt-1">{{ vehicle.registration_number }}</p>
</div>
<div class="mb-3 p-3 bg-white rounded-4">
    <strong>Vehicle type:</strong>
    <p class="mb-0 mt-1">{{ vehicle.vehicle_type }}</p>
</div>
<div class="mb-3 p-3 bg-white rounded-4">
    <strong>Capacity:</strong>
    <p class="mb-0 mt-1">{{ vehicle.capacity_kg }}kg</p>
</div>
<div class="mt-4 text-center">
    <a href="{% url 'vehicle:list' %}" class="btn btn-dark rounded-5 px-5">Back</a>
</div>
{% endblock %}