{% extends "shared/base.html" %}
{% load static %}


{% block content %}
    <div class="flex-fill d-flex justify-content-center align-items-start pt-6"
         style="background-image: url('{% static 'images/home_page_background.png' %}');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;">

        <div class="bg-warning-subtle border border-success border-5 rounded-5 shadow p-4 mt-5">
            <h1 class="text-dark text-center display-4 fw-bold m-0">RouteMaster</h1>
        </div>
    </div>
{% endblock %}