{% extends "shared/base.html" %}
{% load static %}

{% block content %}
    <div class=" border border-success border-4 rounded-5 shadow p-4 mt-4 w-auto mx-auto d-block text-center">
        <h1 class="text-dark display-4 fw-bold m-0">RouteMaster</h1>
    </div>
    <div class="container mt-5">
        <div class="row g-4 text-center">
            <div class="col-md-6 col-lg-3">
                <div class="card shadow border-0 rounded-4 h-100">
                    <div class="card-body">
                        <h6 class="text-muted">Assignments Completed</h6>
                        <h2 class="fw-bold text-success">
                            {% if assignments %}
                                {{ assignments }}
                            {% else %}
                                0
                            {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card shadow border-0 rounded-4 h-100">
                    <div class="card-body">
                        <h6 class="text-muted">Total Distance</h6>
                        <h2 class="fw-bold text-success">
                            {% if mileage %}
                                {{ mileage }} km
                            {% else %}
                                0 km
                            {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card shadow border-0 rounded-4 h-100">
                    <div class="card-body">
                        <h6 class="text-muted">Top Driver</h6>
                        {% if driver %}
                            <h3 class="fw-bold text-success">
                                {{ driver.full_name }}
                            </h3>
                            <h5 class="text-success">
                                {{ driver.assignment_count }} courses
                            </h5>
                        {% else %}
                            <h2 class="fw-bold text-success">
                                None
                            </h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card shadow border-0 rounded-4 h-100">
                    <div class="card-body">
                        <h6 class="text-muted">Top Vehicle</h6>
                        {% if vehicle %}
                            <h3 class="fw-bold text-success">
                                {{ vehicle.make }} - {{ vehicle.registration_number }}
                            </h3>
                            <h5 class="text-success">
                                {{ vehicle.assignment_count }} courses
                            </h5>
                        {% else %}
                            <h2 class="fw-bold text-success">
                                None
                            </h2>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
