<div class="container mb-4">
    <form class="bg-warning-subtle rounded-4 p-4">
        <div class="row g-5 align-items-end justify-content-center">
            <div class="col-md-4">
                <div class="input-group">
                    {{ form.search }}
                    <button class="btn btn-success px-4 rounded-5 mx-1">
                        <span class="d-none d-sm-inline">Search</span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    {% if form.sort %}
                        {{ form.sort }}
                        <button class="btn btn-success px-5 rounded-5 mx-1">
                            <span class="d-none d-sm-inline">Sort</span>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>