<footer class="bg-success mt-auto">
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center flex-nowrap px-3 py-2">

            <span class="text-dark small text-nowrap">
                <a href="https://github.com/Milenski1987" target="_blank"
                    rel="noopener noreferrer" class="text-dark fw-semibold text-decoration-none ms-1">
                    <b>©Milen Nikolov.</b>
                </a>
                <b><span class=""></span> All rights reserved.</b>
            </span>

        </div>
    </div>
</footer>