{% load static %}

<nav class="bg-success py-2">
    <div class="position-relative d-flex align-items-center justify-content-center px-3">
        <div class="d-flex align-items-center flex-nowrap position-absolute start-0 ps-3">
            <a href="{% url 'common:home' %}" class="nav-link text-black fs-3" style="font-family: 'Audiowide', sans-serif;">
                <img width="55" src="{% static 'images/logo.svg' %}" alt="Home">  RouteMaster
            </a>
        </div>
        <ul class="nav flex-nowrap align-items-center">
            <li class="nav-item">
                <a class="nav-link text-light fs-5" href="{% url 'drivers:list' %}"><b>Drivers</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light fs-5" href="{% url 'vehicles:list' %}"><b>Vehicles</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light fs-5" href="{% url 'routes:routes_list' %}"><b>Routes</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-nowrap fs-5" href="{% url 'routes:delivery_points_list' %}"><b>Delivery Points</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light fs-5" href="{% url 'routes:assignment_list' %}"><b>Assignments</b></a>
            </li>
        </ul>
    </div>
</nav>